<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yonyong.yconfig.mapper.TblConfigcenterMapper">

    <resultMap id="BaseResultMap" type="top.yonyong.yconfig.config.TblConfig">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="key_name" jdbcType="VARCHAR" property="keyName" />
        <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
        <result column="key_group" jdbcType="VARCHAR" property="keyGroup" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="modifier" jdbcType="VARCHAR" property="modifier" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>


    <sql id="Base_Column_List">
        id, key_name, key_value, key_group, description, insert_time, update_time, creator, modifier,type
    </sql>

    <sql id="findPageWithWhere">
        <where> 1=1
            <if test="id != null" >
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="keyName != null and keyName != ''" >
                and key_name like '%${keyName}%'
            </if>
            <if test="keyValue != null and keyValue != ''" >
                and key_value like '%${keyValue}%'
            </if>
            <if test="keyGroup != null and keyGroup != ''" >
                and key_group = #{keyGroup,jdbcType=VARCHAR}
            </if>
            <if test="description != null and description != ''" >
                and description like '%${description}%'
            </if>
            <if test="insertTime != null" >
                and insert_time = #{insertTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null" >
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="creator != null and creator != ''" >
                and creator = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="modifier != null and modifier != ''" >
                and modifier = #{modifier,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  tbl_configcenter
        <include refid="findPageWithWhere" />
    </select>

</mapper>